<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>

  <node name="local_planner" pkg="local_planner" type="local_planner.py" output = "screen">

	<rosparam command="load" file="$(find local_planner)/config/waypoints.yaml" />
	<param name="base_width" value="0.2" />
	<param name="distance_tolerance" value="0.02"/>

 </node>

<!--launch only encoder localization-->

 <node name="EncoderLoc" pkg="local_planner" type="EncoderLoc.py" output = "screen"></node>>

</launch>
