<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
  <node name="test_planner" pkg="local_planner" type="test.py" output = "screen"></node>>
  <node name="local_planner" pkg="local_planner" type="local_planner.py" output = "screen">
	
	<param name = "mode" value = "real"/>
	<rosparam command="load" file="$(find local_planner)/config/waypoints.yaml" />
	<param name="base_width" value="0.2" />
	<param name="distance_tolerance" value="0.02"/>


 </node>
</launch>
